<div class="searchHead unselectable">Поиск видео по запросу {{userAsk}}</div>
<br>
<div class="searchPlace">
    <form (submit)="onSubmit(userAck.value)" class="searchForm">
        <input class="searchBar"
               type="text" 
               id="filter"
               placeholder="Название видео..."
               #userAck
        />
        <div class="saveIcon unselectable" (click)="onSave()">{{saveIcon}}</div>    
        <button class="searchButton unselectable" type="submit">Поиск</button>
    </form>
</div>
<br>
<app-dialog-window [(needDialog)]="needDialog" [userAsk]="userAsk"></app-dialog-window>
<app-video-panel [userAsk]="userAsk" [count]="count"></app-video-panel>
