.searchHead {
  margin: 2% 0 0 5%;
  font-size: xx-large;
}
.searchPlace {
  display: flex;
  flex-flow: row;
  width: calc(100% - 10px);
  justify-content: center;
  margin: 0px 0 0 20px;
}
.searchForm {
  width: 80%;
  display: flex;
}
.searchBar {
  width: calc(100% - 85px);
  height: 30px;
  padding: 0 0 0 5px;
  border-radius: 10px 0 0 10px;
  outline: 0;
}
.searchButton {
  height: 34px;
  width: 75px;
  position: relative;
  right: 25px;
  border-radius: 0 10px 10px 0;
  outline: 0;
}
.saveIcon {
  position: relative;
  right: 30px;
  font-size: x-large;
  cursor: pointer;
}
