<div class="header unselectable" *ngIf=isLogin>
    <span class="headerName">API YouTube</span>
    <div class="buttonsPanel">
        <div class="buttonsLeft">
            <a routerLink="/" >
                <div class="button">Поиск</div>
            </a>
            <a routerLink="/favorites" >
                <div class="button">Избранное</div>
            </a>
        </div>
        <div class="buttonsRight" (click)="deleteToken()">
            <div class="button">Выход</div>
        </div>
    </div>
</div>
<app-login-pass *ngIf=!isLogin></app-login-pass>
<router-outlet  *ngIf=isLogin></router-outlet>