<div class="header" *ngIf=isLogin>
    <span class="headerName">API YouTube</span>
    <div class="buttonsPanel">
        <div class="buttonsLeft">
            <div class="button"><a routerLink="/" >Поиск</a></div>
            <div class="button"><a routerLink="/favorites" >Избранное</a></div>
        </div>
        <div class="buttonsRight">
            <div class="button"><a (click)="deleteToken()"routerLink="/">Выход</a></div>
        </div>
    </div>
</div>
<app-login-pass *ngIf=!isLogin></app-login-pass>
<router-outlet  *ngIf=isLogin></router-outlet>